<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block extrahead %}{% endblock %}

    <title>Stylo Doodles</title>

    <link rel="stylesheet" href="{{ baseurl }}css/main.css" />
    <link rel="stylesheet" href="{{ baseurl }}css/highlight.css" />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  </head>
  <body>
    <header class="two-col">
        <h2 class="site-title">
            <a href="{{ baseurl }}">Stylo Doodles</a>
        </h2>
        <div class="nav">
          <ul>
            <li><a href="{{baseurl}}submit.html">Submit</a></li>
            <li><a href="{{baseurl}}about.html">About</a></li>
          </ul>
          <a href="https://github.com/alcarney/stylo-doodles">
              <img style="position: absolute; top: 0; right: 0; border: 0;"
                   src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                   alt="Fork me on GitHub">
          </a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>Last Built: {{ last_build }} -- Site Version: {{ version }}</p>
    </footer>
  </body>
</html>

